@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --dark-background-color: #020d1e;
  --text-color-dark: #ffffff;
  --light-background-color: #ffffff;
  --text-color-light: #1a1a1a;
  --linear-light-bg: linear-gradient(
    to bottom right,
    #b2d9f6 0%,
    #b2d9f6 60%,
    #eff3fc 100%
  );
  --text-orange-500: #f85a16;
  --link-color: #f85a16;
  --primary-button-bg: var(--link-color);
  --primary-button-text: #ffffff;
  --secondary-button-bg: #1a1a1a;
  --secondary-button-text: #ffffff;
}

/* Default to light mode */
body {
  background-color: var(--light-background-color);
  color: var(--text-color-light);
  font-family: "Agdasima", sans-serif;
  font-weight: bolder;
}

/* Manual dark mode class */
.dark {
  --background: var(--dark-background-color);
  --text-color: var(--text-color-dark);
}

.dark body {
  background-color: var(--background);
  color: var(--text-color);
}

.dark .profile-bg {
  background-color: #2d3748;
}

*,
html,
body {
  overscroll-behavior: none;
}

button.primary {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
}

button.secondary {
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-text);
}

@media (prefers-color-scheme: dark) {
  button.secondary {
    background-color: #ffffff;
    color: #1a1a1a;
  }
}

/* Switch to dark mode if system preference is dark and not manually overridden */
@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background-color: var(--dark-background-color);
    color: var(--text-color-dark);
    font-family: "Agdasima", sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
  }
}

a {
  color: var(--link-color);
}
